language: cpp
compiler: gcc
sudo: true

before_script:
  - export DEVROOT=${TRAVIS_BUILD_DIR}
  - sudo apt-get update -y
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -y
  - sudo apt-get --yes install gcc-7 g++-7
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 --slave /usr/bin/g++ g++ /usr/bin/g++-7
  - sudo update-alternatives --config gcc
  - sudo apt-get --yes install mpich
  - git clone https://github.com/SCOREC/core.git
  - cd core
  - git checkout develop
  - mkdir -p build
  - cd build
  - cmake .. -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_INSTALL_PREFIX=${DEVROOT}/install -DIS_TESTING=OFF -DCMAKE_BUILD_TYPE=Release
  - make -j 2 && make install
  - cd ..

script:
  - cd msi
  - mkdir -p build
  - cp example-config.sh build/config.sh
  - cd build
  - ./config.sh
  - make -j 2 VERBOSE=1
  - ctest

before_install:
  - test -n $CC  && unset CC
  - test -n $CXX && unset CXX
  - cd ~