language: cpp
compiler: gcc
sudo: true

before_script:
  - pwd
  - cd ~
  - export DEVROOT=`pwd`
  - echo ${DEVROOT}
  - export NP=`grep -c ^processor /proc/cpuinfo`
  - sudo apt-get update -y
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -y
  - sudo apt-get --yes install gcc-7 g++-7
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 --slave /usr/bin/g++ g++ /usr/bin/g++-7
  - sudo update-alternatives --config gcc
  - sudo apt-get --yes install mpich
  - mpicc --version
  - which mpicc
  - git clone --branch=develop https://github.com/SCOREC/core.git
  - cd ${DEVROOT}/core
  - mkdir -p ${DEVROOT}/core/build
  - cd ${DEVROOT}/core/build
  - cmake .. -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_INSTALL_PREFIX=${DEVROOT}/install -DIS_TESTING=OFF -DBUILD_EXES=OFF -DCMAKE_BUILD_TYPE=Release
  - make -j ${NP} && make install
  - cd ${DEVROOT}
  - pwd && ls

script:
  - cd ${DEVROOT}/SCOREC/msi
  - mkdir -p ${DEVROOT}/SCOREC/msi/build
  - cp ${DEVROOT}/SCOREC/msi/example-config.sh ${DEVROOT}/SCOREC/msi/build/config.sh
  - cd ${DEVROOT}/SCOREC/msi/build
  - ./config.sh
  - make -j ${NP} VERBOSE=1
  - ctest

before_install:
  - test -n $CC  && unset CC
  - test -n $CXX && unset CXX
